@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Ampersand';
    src: url('/src/assets/fonts/Ampersand.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/src/assets/fonts/aeonikt-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.section {
  @apply py-10 md:py-12 lg:py-40;
  position: relative;
}

.line {
  @apply overflow-hidden;
}

.word {
  @apply translate-y-full;
}